{% extends "layout.html" %}
{% block body %}
    <h1>Welcome, {{ login }}</h1>
    <form name="search_book" action="{{ url_for('search') }}" method="GET">
        <input type="text" name="book_search" placeholder="Type ISBN or title or author">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for book in books %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.authors.author_name }} - {{ book.title }}, {{ book.year }}</a></li>
        {% else %}
            <li>No books found</li>
        {% endfor %}
    </ul>
    {% if back %}
        <a href="{{ url_for('index') }}">Back</a><br>
    {% endif %}
{% endblock %}