{% extends "layout.html" %}
{% block body %}
    <div id="signup_container">
        <form name="signup_form" action="{{ url_for('signup') }}" method="POST">
            <input type="text" name="login" placeholder="Your login"><br>
            <input type="text" name="email" placeholder="Your email"><br>
            <input type="password" name="password" placeholder="Your password"><br>
            <button type="submit">SignUp</button>
        </form>
        <a href="{{ url_for('login') }}">Back</a>
    </div>
{% endblock %}